
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

img {
    width: 150px;
    height: 150px;
}

.section-one, .section-two,
.section-three, .section-four {
    height: 512px;
}

.section-one {
    background-color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.section-three {
    background-color: gray;
}

.footer {
    background-color: #1F2937;
}