
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 
    'Lucida Sans', Arial, sans-serif;
}

img {
    width: 150px;
    height: 150px;
    border: solid;
    border-width: 4px;
    border-color: #3882F6;
    border-radius: 15px;
}

.section-one, .section-two,
.section-three, .section-four {
    height: 512px;
    display: flex;
}

.section-one {
    background-color: #1F2937;
}

.section-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.image-title {
    margin: 0;
}

.image-container {
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

.captioned-image {
    max-width: 150px;
    overflow-wrap: break-word;
    font-size: 14px;
}

.section-three {
    background-color: gray;
}

.footer {
    background-color: #1F2937;
}