
body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

img {
    width: 150px;
    height: 150px;
}

.section-one, .section-two,
.section-three, .section-four {
    height: 512px;
    display: flex;
}

.section-one {
    background-color: #1F2937;
}

.section-two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.image-title {
    margin: 0;
}

.image-container {
    display: flex;
    align-items: center;
    gap: 48px;
}

.captioned-image {
    max-width: 150px;
    overflow-wrap: break-word;
    font-size: 12px;
}

.section-three {
    background-color: gray;
}

.footer {
    background-color: #1F2937;
}